<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jederv1">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo7"
        android:label="Jendela Resep"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JeDerV1.NoActionBar">
        <activity
            android:name=".details.DetailActivity"
            android:exported="false"
            android:theme="@style/Theme.JeDerV1" />
        <activity
            android:name=".history.HistoryActivity"
            android:exported="false"
            android:label="Food You Scanned"
            android:theme="@style/Theme.JeDerV1" />
        <activity
            android:name=".upload.GalleryUpload"
            android:exported="false"
            android:label="Get From Gallery"
            android:theme="@style/Theme.JeDerV1" />
        <activity
            android:name=".upload.CameraUpload"
            android:exported="false"
            android:label="Take A Picture"
            android:theme="@style/Theme.JeDerV1" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.jederv1"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>